{
  "passwordSecret": "passwordSecret-demo",
  "tokenSecret": "tokenSecret-demo",
  "tokenExpiresThreshold": 600,
  "passwordErrorLimit": 6,
  "bindTokenToDevice": false,
  "passwordInvalidLimit": 6,
  "passwordInvalidTime": 86400,
  "multipleSessions": false,
  "mp-weixin": {
    "oauth": {
      "weixin": {
        "appid": "",
        "appsecret": ""
      }
    }
  },
  "SMTP_USER": "",
  "SMTP_PASS": "",
  "SMTP_HOST": "",
  "SMTP_PORT": 465,
  "SMTP_FROM": ""
}
